<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test name = "Registration Automation">
			<parameter name="browser" value="firefox"></parameter>
				<classes>
				<class name="com.nmc.testcases.two_seven.SampleTestCase"/>
				</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
